<ion-header>
  <ion-toolbar color="danger">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/list-colonies"></ion-back-button>
    </ion-buttons>
    <ion-title>{{colony.name}}</ion-title>
    <ion-buttons slot="end" (click)="saveColony()" style="zoom:2.0; padding-right: 4px;">
      <ion-icon name="checkmark"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form [formGroup]="form">
    <ion-list lines="full" *ngIf="colony">

      <ion-item>
        <ion-label *ngIf="colonyId" position="floating">Nombre</ion-label>
        <ion-input formControlName="name" type="text" placeholder="Nombre" autocapitalize="true"></ion-input>
        <ion-text color="danger"><small *ngIf="!form.controls.name.valid && attempt">{{defaultErrorMessage}}</small>
        </ion-text>
      </ion-item>

      <ion-item>
        <ion-label>Tipo</ion-label>
        <ion-select value="tipos" okText="Ok" cancelText="Cancelar" formControlName="type">
          <ion-select-option value="horizontal">Horizontal</ion-select-option>
          <ion-select-option value="vertical">Vertical</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label *ngIf="colonyId" position="floating">Código postal</ion-label>
        <ion-input formControlName="postalCode" type="text" placeholder="Código postal"></ion-input>
        <ion-text color="danger"><small *ngIf="!form.controls.postalCode.valid && attempt">{{defaultErrorMessage}} de 5
          dígitos</small></ion-text>
      </ion-item>
      <ion-item>
        <ion-label *ngIf="colonyId" position="floating">Calle</ion-label>
        <ion-input formControlName="street" type="text" placeholder="Calle" autocapitalize="true"></ion-input>
        <ion-text color="danger"><small *ngIf="!form.controls.street.valid && attempt">{{defaultErrorMessage}}</small>
        </ion-text>
      </ion-item>
      <ion-item>
        <ion-label *ngIf="colonyId" position="floating">Número</ion-label>
        <ion-input formControlName="number" type="text" placeholder="Número"></ion-input>
        <ion-text color="danger"><small *ngIf="!form.controls.number.valid && attempt">{{defaultErrorMessage}}</small>
        </ion-text>
      </ion-item>
      <ion-item>
        <ion-label *ngIf="colonyId" position="floating">Municipio</ion-label>
        <ion-input formControlName="municipality" type="text" placeholder="Municipio" autocapitalize="true"></ion-input>
        <ion-text color="danger"><small
          *ngIf="!form.controls.municipality.valid && attempt">{{defaultErrorMessage}}</small></ion-text>
      </ion-item>
      <ion-item>
        <ion-label *ngIf="colonyId" position="floating">Estado</ion-label>
        <ion-input formControlName="state" type="text" placeholder="Estado" autocapitalize="true"></ion-input>
        <ion-text color="danger"><small *ngIf="!form.controls.state.valid && attempt">{{defaultErrorMessage}}</small>
        </ion-text>
      </ion-item>
      <ion-item>
        <ion-label *ngIf="colonyId" position="floating">País</ion-label>
        <ion-input formControlName="country" type="text" placeholder="País" autocapitalize="true"
                   (keydown.enter)="hideKeyboard()"></ion-input>
        <ion-text color="danger"><small *ngIf="!form.controls.country.valid && attempt">{{defaultErrorMessage}}</small>
        </ion-text>
      </ion-item>
      <ion-item>
        <ion-label class="ion-text-wrap">Usar Paypal en pagos de mensualidades</ion-label>
        <ion-toggle slot="start" color="danger" formControlName="usePaypal"
                    (ionChange)="usePaypal($event)"></ion-toggle>
        <ion-thumbnail slot="end">
          <ion-img src="https://i.blogs.es/afeb92/paypal/1366_2000.jpg"></ion-img>
        </ion-thumbnail>
      </ion-item>
      <ion-item *ngIf="colony.usePaypal">
        <ion-label *ngIf="colonyId" position="floating">ClientID</ion-label>
        <ion-input formControlName="paypalClientId" type="text" placeholder="ClientID"></ion-input>
        <ion-text color="danger"><small
          *ngIf="!form.controls.paypalClientId.valid && attempt">{{defaultErrorMessage}}</small></ion-text>
      </ion-item>
      <ion-item *ngIf="colony.usePaypal">
        <ion-label *ngIf="colonyId" position="floating">ClientSecret</ion-label>
        <ion-input formControlName="paypalClientSecret" type="text" placeholder="ClientSecret"></ion-input>
        <ion-text color="danger"><small
          *ngIf="!form.controls.paypalClientSecret.valid && attempt">{{defaultErrorMessage}}</small></ion-text>
      </ion-item>

    </ion-list>

    <ion-row class="ion-justify-content-center">
      <ion-col>
        <ion-img [src]="colony.picture" (click)="showPhoto()"></ion-img>
      </ion-col>
      <ion-col size="6">
        <ion-button color="danger" (click)="loadImage('takePicture')" size="large">
          <ion-icon name="camera"></ion-icon>
        </ion-button>
        <ion-button color="secondary" (click)="loadImage('getGallery')" size="large">
          <ion-icon name="image"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
  </form>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed" *ngIf="colonyId">
    <ion-fab-button color="danger" (click)="confirmMessage()">
      <ion-icon name="trash"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
