<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>415122887478-1shv2k2dulgbrp413gqlnum44pcmhh0c.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.415122887478-1shv2k2dulgbrp413gqlnum44pcmhh0c</string>
	<key>API_KEY</key>
	<string>AIzaSyBAv_bBOB-yy9U08YhCg30Dcy25T61zlvU</string>
	<key>GCM_SENDER_ID</key>
	<string>415122887478</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.teclients.colonyc</string>
	<key>PROJECT_ID</key>
	<string>colonyc-14f60</string>
	<key>STORAGE_BUCKET</key>
	<string>colonyc-14f60.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:415122887478:ios:c8bedd49bafcdceee31997</string>
	<key>DATABASE_URL</key>
	<string>https://colonyc-14f60.firebaseio.com</string>
</dict>
</plist>
