<ion-header>
  <ion-toolbar color="danger">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>
      {{ viewTitle }}
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="today()">Hoy</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <!-- Card for adding a new event -->
  <ion-card *ngIf="dataLoaded">
    <ion-card-header tappable (click)="collapseCard = !collapseCard">
      <ion-card-title>Registrar evento</ion-card-title>
    </ion-card-header>
    <ion-card-content *ngIf="!collapseCard">

      <ion-item>
        <ion-input type="text" placeholder="Título" [(ngModel)]="event.title"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input type="text" placeholder="Descripción" [(ngModel)]="event.desc"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Inicio</ion-label>
        <ion-datetime cancelText="Cancelar" doneText="Ok" displayFormat="DD/MM/YYYY h:mm A"
                      pickerFormat="MMM DD, YYYY HH:mm" placeholder="Seleccione fecha" [ngModel]="event.startTime"
                      [value]="startTime" [min]="minDate" (ionChange)="updateStartTime($event)"></ion-datetime>
      </ion-item>
      <ion-item>
        <ion-label>Fin</ion-label>
        <ion-datetime cancelText="Cancelar" doneText="Ok" displayFormat="DD/MM/YYYY h:mm A"
                      pickerFormat="MMM DD, YYYY HH:mm" placeholder="Seleccione fecha" [ngModel]="event.endTime"
                      [value]="endTime" [min]="minDate" (ionChange)="updateEndTime($event)"></ion-datetime>
      </ion-item>
      <!--      <ion-item>-->
      <!--        <ion-label>Todo el día?</ion-label>-->
      <!--        <ion-checkbox [(ngModel)]="event.allDay"></ion-checkbox>-->
      <!--      </ion-item>-->
      <ion-button color="danger" expand="block" (click)="addEvent()" [disabled]="event.title == ''">Registar
      </ion-button>

    </ion-card-content>
  </ion-card>

  <ion-row>
    <!-- Change the displayed calendar mode -->
    <ion-col size="4">
      <ion-button expand="block" [color]="calendar.mode == 'month' ? 'primary' : 'secondary'"
                  (click)="changeMode('month')">Mes
      </ion-button>
    </ion-col>
    <ion-col size="4">
      <ion-button expand="block" [color]="calendar.mode == 'week' ? 'primary' : 'secondary'"
                  (click)="changeMode('week')">Semana
      </ion-button>
    </ion-col>
    <ion-col size="4">
      <ion-button expand="block" [color]="calendar.mode == 'day' ? 'primary' : 'secondary'" (click)="changeMode('day')">
        Día
      </ion-button>
    </ion-col>

    <!-- Move back one screen of the slides -->
    <ion-col size="6" class="ion-text-left">
      <ion-button fill="clear" (click)="back()">
        <ion-icon name="arrow-back" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-col>

    <!-- Move forward one screen of the slides -->
    <ion-col size="6" class="ion-text-right">
      <ion-button fill="clear" (click)="next()">
        <ion-icon name="arrow-forward" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-col>
  </ion-row>

  <calendar *ngIf="dataLoaded"
            [eventSource]="eventSource"
            [currentDate]="calendar.currentDate"
            [locale]="calendar.locale"
            [noEventsLabel]="calendar.noEventsLabel"
            (onEventSelected)="onEventSelected($event)"
            (onTitleChanged)="onViewTitleChanged($event)"
            (onTimeSelected)="onTimeSelected($event)"
            [allDayLabel]="calendar.allDayLabel"
            [lockSwipes]="false"
            [markDisabled]="markDisabled"
            queryMode="remote"
            (onRangeChanged)="onRangeChanged($event)"
            [startHour]="calendar.startHour"
            [endHour]="calendar.endHour"
            [step]="30"
  >
  </calendar>

  <ng-template #monthviewDisplayEventTemplate let-view="view" let-row="row" let-col="col">
    <div [ngClass]="getMonthviewHighLevelClass(view.dates[row*7+col].date)"> {{view.dates[row * 7 + col].label}} </div>
  </ng-template>

</ion-content>
