<ion-content class="ion-padding">
  <ion-grid>
    <ion-row color="primary" class="ion-justify-content-center">
      <ion-col class="ion-align-self-center" size-md="6" size-lg="5" size-xs="12">
        <div class="ion-text-center">
          <img src="assets/logo.png" id="imgPlacement" alt="Logo" style="align-items: center">
        </div>
        <div class="ion-padding">
          <ion-item>
            <ion-input type="text" placeholder="Email" [(ngModel)]="email" required="required" (keydown.enter)="hideKeyboard()"></ion-input>
          </ion-item>
        </div>
        <div class="ion-padding">
          <ion-button size="large" (click)="resetPassword()" expand="block" color="danger"><ion-icon slot="start" name="md-key"></ion-icon>Recuperar</ion-button>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-row>
    <ion-col>
      <div class="ion-text-center">
        <p>
          2020 Kolonyc Inc. Todos los derechos reservados
        </p>
      </div>
    </ion-col>
  </ion-row>


</ion-content>
